{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "printWidth": 140,
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators"],
  "importOrder": ["^@/(.*)$", "^~/(.*)$", "^[../]", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
